# Ignore the build output
/main

# Ignore Git files
.git
.gitignore

# Ignore editor configurations
.vscode
*.swp

# Ignore dependency files
vendor/
node_modules/

# Ignore local environment files
.env
